{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
<title>About me - dinushka piyumal</title>
{% endblock title %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block content %}

<header class="masthead" style="background-image: url('https://wallpapercave.com/wp/wp4339169.png')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>About Me</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Hey there, I'm Dinushka Piyumal</h1>
      <hr>
      <p>
        I'm currently stuyding.I'm Beginner of Programming and web development.I like to develop websites and computer programmes.
          My favourite progrmming languages are python &#10084; javascript and php.I used python language to develop this blog.
          My hobbies are watching Movies , reading books and solving alogorithms.
      </p>

      <h1>Contact</h1>
      <hr>
      
      <strong>email-:</strong> <p><a href="mailto:dinushkapiyumal678@gmail.com">dinushkapiyumal678@gmail.com</a></p>
      <strong>github-:</strong> <p> <a href="https://github.com/dinushka114">Follow me on github</a></p>

    </div>
  </div>
</div>



{% endblock content %}
