{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
<title>About me - dinushka piyumal</title>
{% endblock title %}
{% block content %}
<header class="masthead" style="background-image:url({% static 'images/me.jpg' %})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>About me</h1>
          <!-- <span class="subheading">A Blog Theme by Start Bootstrap</span> -->
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
      <div class="col-sm-8 col-md-8">
        <div class="Intro">
          <h1 style="font-family:serif">Hey there, I'm Dinushka Piyumal</h1>
          <hr style="margin-top:0;">
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h1 style="font-family:serif;">Contact</h1>
            <hr style="margin-top:0;">
            <strong>email-:</strong> <p><a href="mailto:dinushkapiyumal678@gmail.com">dinushkapiyumal678@gmail.com</a></p>
            <strong>github-:</strong> <p> <a href="https://github.com/dinushka114">Follow me on github</a></p>
          </div>
          <div class="col-sm-4">
            <img class="img-fluid" width="200" src="{% static 'images/i.jpg' %}" alt="dinushka piyumal" style="border:5px solid white;">
          </div>
        </div>
      </div>


{% endblock content %}
