{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
<title>About me - dinushka piyumal</title>
{% endblock title %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block content %}


  <div class="Intro">
    <h1 style="font-family:serif">Hey there, I'm Dinushka Piyumal</h1>
    <hr style="margin-top:0;">
    <div class="row">
      <div class="col-sm-8">
        <p>I'm currently stuyding.I'm Beginner of Programming and web development.I like to develop websites and computer programmes.
          My favourite progrmming languages are python &#10084; javascript and php.I used python language to develop this blog.
          My hobbies are watching Movies , reading books and solving alogorithms.
        </p>
      </div>
      <div class="col-sm-4">
        <img class="img-fluid" width="150" src="{% static 'images/i.jpg' %}" alt="dinushka piyumal"">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h1 style="font-family:serif;">Contact</h1>
      <hr style="margin-top:0;">
      <strong>email-:</strong> <p><a href="mailto:dinushkapiyumal678@gmail.com">dinushkapiyumal678@gmail.com</a></p>
      <strong>github-:</strong> <p> <a href="https://github.com/dinushka114">Follow me on github</a></p>
    </div>
  </div>



{% endblock content %}
