<!DOCTYPE html>
{% load static %}
{% load blog_tags %}
<html lang="en">
<head>
  {% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock meta %}
  <meta name="description" content="this is dinushka's blog.learn programming and AL ICT in one place">
  <meta name="keywords" content="dinushka , blog , programming, ICT , AL , python , javascript , php">
  {% block title %}
  {% endblock title %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Slabo 27px' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet"/>
  <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
  <link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="{% static "common_content/css/prism.css" %}" rel="stylesheet">
  <script data-ad-client="ca-pub-1184944506748021" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta name="google-site-verification" content="Z8i4OzQ2QwjA4ejRCEmZiYtY_vpnBlWjETNC1YC4Zf4" />
</head>
<body>

<div class="header">
    <div class="jumbotron">
      <h1><i class="fa fa-book"></i> My Tech Diary</h1>
    </div>

      <div id="myNav">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a href="/" class="navbar-brand">My Tech diary</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'blog:projects' %}">My Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'blog:about' %}">About Me</a>
                </li>
              </ul>
              <form method="GET" action="{% url 'blog:blog-search' %}" class="form-inline my-2 my-lg-0">
                <input
                  class="mr-sm-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  name="query"
                />
                <button class="my-2 my-sm-0" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>

  <div class="container main-page">
    <div class="row">
      <div class="col-sm-8">
        {% block content %}

        {% endblock content %}
      {% include 'blog/paginator.html' %}
      </div>
      <div class="col-sm-4">
        {% include 'blog/side-widget.html' %}
      </div>
    </div>
  </div>

<div class="footer">
      <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <p>I've written {% total_posts %} posts so far</p>
              <p>Follow me on</p>
              <div class="social">
                <a href="https://www.linkedin.com/in/dinushka-piyumal-a689001a5/" target="_blank" class="fa fa-linkedin"></a>
                <a href="https://www.instagram.com/dinushka_piyumal/" target="_blank" class="fa fa-instagram"></a>
                <a href="https://api.whatsapp.com/send?phone=0763538804&text" target="_blank" class="fa fa-whatsapp"></a>
                <a href="https://github.com/dinushka114" target="_blank" class="fa fa-github"></a>
                <a href="mailto:dinushkapiyumal678@gmail.com" class="fa fa-envelope"></a>
                <p>powerd by <a href="https://getbootstrap.com/" target="_blank">bootstrap</a> and <a href="https://www.djangoproject.com/" target="_blank">Django &#10084;</a> </p>
              </div>
            </div>
          </div>
      </div>
      <div class="bottom-line clearfix">
        <div class="site-name">
          <h4>©2020 www.mytechdiary.tk</h4>
        </div>

      </div>
</div>

  <script type="text/javascript">
    var year = new Date().getFullYear()
    console.log(year);
  </script>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script id="dsq-count-scr" src="//myblog-9rtxdxz3e3.disqus.com/count.js" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/prism.js"></script>
  <script src="{% static "common_content/js/prism.min.js" %}"></script>
  <script src="{% static "common_content/js/prism-django.min.js" %}"></script>

</body>
</html>
