<!DOCTYPE html>
{% load static %}
{% load blog_tags %}
{% load meta %}
<html lang="en">
  {% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock meta %}

  {% block title %}
  <i class="fa fa-d-and-d"></i>
  {% endblock title %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Slabo 27px' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="{% static "common_content/css/prism.css" %}" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <!-- <img src="http://placehold.it/150x50?text=Logo" alt=""> -->
      <i class="fa fa-book fa-2x"></i>
      <a href="/"><h3>My Tech Diary</h3></a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto items">
        <li class="nav-item">
          <a style="color:white;" class="nav-link navlink" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a style="color:white;" class="nav-link navlink" href="{% url 'blog:projects' %}">My Projects</a>
        </li>
        <li class="nav-item ">
          <a style="color:white;" class="nav-link navlink" href="{% url 'blog:about' %}">About Me</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="middle-bar clearfix">
      <div class="container">
      <div class="left-side">
        <h3></h3>
        </div>
      <form method="GET" action="{% url 'blog:blog-search' %}">
        <div class="search">
          <input type="text" placeholder="Search for.." name='query'>
          <button type="submit"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </div>
  </div>

  <div class="container main-page">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        {% block content %}
        {% endblock content %}
      {% include 'blog/paginator.html' %}
      </div>
      <div class="col-sm-4 col-md-4">
        {% include 'blog/side-widget.html' %}
      </div>
    </div>
  </div>

<div class="footer">
      <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <p>I've written {% total_posts %} posts so far</p>
              <p>Follow me on</p>
              <div class="social">
                <a href="https://www.linkedin.com/in/dinushka-piyumal-a689001a5/" target="_blank" class="fa fa-linkedin"></a>
                <a href="https://www.instagram.com/dinushka_piyumal/" target="_blank" class="fa fa-instagram"></a>
                <a href="https://api.whatsapp.com/send?phone=0763538804&text" target="_blank" class="fa fa-whatsapp"></a>
                <a href="https://github.com/dinushka114" target="_blank" class="fa fa-github"></a>
                <a href="mailto:dinushkapiyumal678@gmail.com" class="fa fa-envelope"></a>
                <p>powerd by <a href="https://getbootstrap.com/" target="_blank">bootstrap</a> and <a href="https://www.djangoproject.com/" target="_blank">Django &#10084;</a> </p>
              </div>
            </div>
          </div>
      </div>
      <div class="bottom-line clearfix">
        <div class="site-name">
          <h4>©2020 mytechdiary.herokuapp.com</h4>
        </div>

      </div>
  </div>




  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script id="dsq-count-scr" src="//myblog-9rtxdxz3e3.disqus.com/count.js" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/prism.js"></script>
  <script src="{% static "common_content/js/prism.min.js" %}"></script>
  <script src="{% static "common_content/js/prism-django.min.js" %}"></script>
</body>
</html>
