{% extends 'blog/base.html' %}
{% load static %}
{% load blog_tags %}
{% block title %}
<title>Categories</title>
{% endblock title %}
{% block content %}

{% for post in object_list %}
<div class="card mb-4 posts">
  <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap">
  <div class="card-body">
    <a href="{{ post.get_absolute_url }}"><h2 style="text-transform:uppercase;margin-bottom:0" class="card-title" >{{post.title}}</h2></a>
    <hr style="margin:2px 0px;">
    <small>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      {{post.publish | date:"F d,Y"}}
    </small>
    <p style="margin-top:5px;" class="card-text">{{post.body|safe|truncatewords:30|linebreaks}}</p>
    <a  href="{{ post.get_absolute_url }}" class="btn btn-success btn-sm">Read More</a>
    <ul class="list-unstyled" style="margin-top:20px;">
      <li>
        <i class="fa fa-tags"></i>
          {% for tag in post.tags.all  %}
            <small><a href="{% url 'blog:tagged' tag.slug %}">{{tag}}</a></small>
          {% endfor %}
      </li>
    </ul>
  </div>
</div>
{% empty %}
<p>Sorry..There is no posts</p>
{% endfor %}

{% endblock content %}
