{% extends 'blog/base.html' %}
{% load static %}
{% load blog_tags %}
{% block title %}
<title>Dinushka's Blog</title>
{% endblock title %}
{% block content %}

{% for post in posts %}
<div class="card mb-4 posts">
  <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap">
  <div class="card-body">
    <a href="{{ post.get_absolute_url }}"><h2 style="text-transform:uppercase;margin-bottom:0;color:black;" class="card-title" >{{post.title}}</h2></a>
    <hr style="margin:2px 0px;">
    <small>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      {{post.publish | date:"F d,Y"}}
    </small>
    <p style="margin-top:5px;" class="card-text">{{post.body|safe|truncatewords:30|linebreaks}}</p>
    <!-- <button type="button"  class="btn btn-success" name="button"> <a style="color" href="{{post.get_absolute_url}}">Read More</a> </button> -->
    <a  href="{{ post.get_absolute_url }}" class="btn btn-success">Read More</a>
    <!-- <a href="{{ post.get_absolute_url }}"><button type="button" class="btn btn-success"  name="button">Read More</button></a>  -->
    <ul class="list-unstyled" style="margin-top:20px;">
      <li>
        <i class="fa fa-tags"></i>
          {% for tag in post.tags.all  %}
            <small><a href="{% url 'blog:tagged' tag.slug %}">{{tag}}</a></small>
          {% endfor %}
      </li>
    </ul>
  </div>
</div>
{% endfor %}

{% endblock content %}
