{% extends 'blog/base.html' %}
{% load static %}
{% load blog_tags %}
{% block title %}
<title>Dinushka's Blog</title>
{% endblock title %}
{% block content %}

{% for post in posts %}

<div class="card mb-4 posts">

  <div class="loader">

  </div>

  <a href="{{ post.get_absolute_url }}"><h2 style="text-transform:uppercase;margin-bottom:0;color:#222831;text-decoration:none;" class="card-title text-center" >{{post.title}}</h2></a>
  <small class="text-center">
    <i class="fa fa-calendar" aria-hidden="true"></i>
    {{post.publish | date:"F d,Y"}}
  </small>
  <hr>
  <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap">
    <p style="margin-top:5px;font-family: 'Assistant',serif;" class="card-text">{{post.body|safe|truncatewords:30|linebreaks}}</p>
    <!-- <button type="button"  class="btn btn-success" name="button"> <a style="color" href="{{post.get_absolute_url}}">Read More</a> </button> -->
    <!-- <a href="{{ post.get_absolute_url }}"><button type="button" class="btn btn-success"  name="button">Read More</button></a>  -->
    <div class="card-bottom">
      <div class="more">
        <a style="background:#00adb5;text-decoration:none;" href="{{ post.get_absolute_url }}" class="btn btn-link">Read More</a>
      </div>
    </div>
</div>

{% endfor %}

{% endblock content %}
