{% extends 'blog/base.html' %}
{% load static %}
{% load blog_tags %}
{% block title %}
<title>Dinushka piyumal</title>
{% endblock title %}
{% block content %}

<header class="masthead" style="background-image: url('{% static 'images/theme.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Share the knowledge</h1>
          <span class="subheading" id="sub">Next second of digital world.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {% for post in posts %}

        <div class="post-preview">

          {% if post.image.url %}
          <img src="{{post.image.url}}" alt="" class="img-fluid">
          {% else %}
          <img src="{{post.img_url}}" alt="" class="img-fluid">
          {% endif %}
          <a href="{{ post.get_absolute_url }}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{post.body|safe|truncatewords:30|linebreaks}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="{% url 'blog:about' %}">admin</a>
            {{post.publish | date:"F d,Y"}}</p>
        </div>
        <hr>

      {% endfor %}

    </div>
  </div>
</div>

<script>
  var i = 0;
var txt = 'Next second of digital world.';
var speed = 40;

function typeWriter() {
  if (i < txt.length) {
    document.getElementById("sub").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
}

// window.onload = typeWriter();
</script>




{% endblock content %}
