{% extends 'blog/base.html' %}
{% block meta %}
  <meta name="keywords" content="{{ object.tags.all|join:"," }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if object.meta_description %}
  <meta name="description" content="{{ object.meta_description }}">
  <meta property="og:description" content="{{ object.meta_description }}">
  {% else %}
  <meta name="description" content="dinushka_blog">
  {% endif %}
  <meta property="og:title" content="{{ object.title }}">
  <meta property="og:type" content="article">
{% endblock meta %}
{% block title %}
<title>{{object.title}}</title>
{% endblock title %}
{% block content %}


  <h3>{{object.title}}</h3>
  <div class="featured-img">
    <small>
      <i class="fa fa-calendar" aria-hidden="true"></i>
      {{object.publish | date:"F d,Y"}} |
      <i class="fa fa-comment"></i>
      <a class="text-muted" href="{{post.get_absolute_url}}#disqus_thread"> Comments</a>
    </small> <hr>
    <img class="img-fluid" src="{{object.image.url}}" alt="image">
  </div>
  <p style="margin-bottom:0">{{object.body|safe}}</p>
  <ul class="list-unstyled" style="margin-top:20px;">
      <li>
        <i class="fa fa-tags"></i>
          {% for tag in post.tags.all  %}
            <small><a style="color:black;" href="{% url 'blog:tagged' tag.slug %}">{{tag}}</a></small>
          {% endfor %}
      </li>
  </ul>
  <hr>
  <div id="disqus_thread" ></div>

      <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

      var disqus_config = function () {
      this.page.url = "{{request.build_absolute_uri}}";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "{{ object.get_absolute_url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://myblog-9rtxdxz3e3.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock content %}
