{% extends 'blog/base.html' %}
{% block meta %}
  <meta name="keywords" content="{{ object.tags.all|join:"," }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if object.meta_description %}
  <meta name="description" content="{{ object.meta_description }}">
  <meta property="og:description" content="{{ object.meta_description }}">
  {% else %}
  <meta name="description" content="dinushka_blog">
  {% endif %}
  <meta property="og:title" content="{{ object.title }}">
  <meta property="og:type" content="article">
{% endblock meta %}
{% block title %}
<title>{{object.title}}</title>
{% endblock title %}
{% block content %}

  {% if object.image.url %}
  <header class="masthead" style="background-image: url('{{object.image.url}}')">
  {% else %}
  <header class="masthead" style="background-image: url('{{object.img_url}}')">
  {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{object.title}}</h1>
            <span class="subheading">{{object.body|safe|truncatewords:10|linebreaks}}...</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <article>
    <div class="container" style="">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>{{object.body | safe}}</p>

          <hr>
  <div id="disqus_thread" ></div>

      <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

      var disqus_config = function () {
      this.page.url = "{{request.build_absolute_uri}}";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "{{ object.get_absolute_url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://myblog-9rtxdxz3e3.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        </div>
      </div>
    </div>
  </article>


  
{% endblock content %}
