{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
<title>My projects</title>
{% endblock title %}
{% block content %}


<p style="font-size:20px;">This projects were built in django framework </p>
<div class="projects">
  <strong>This Blog</strong> <hr>
  <img class="img-fluid" src="{% static 'images/blogpro.png' %}" alt="this blog image" width="400">
  <p class="text-secondary">This is my first blog of built in django framework</p>

  <strong>Youtube video downloader</strong> <hr>
  <img class="img-fluid" src="{% static 'images/ytd.png' %}" alt="this blog image" width="400">
  <p>You can download youtube videos in click <a href="http://newytdown.herokuapp.com/" target="_blank">here</a> </p>
</div>

{% endblock content %}
