{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
<title>Search {{request.GET.query}}</title>
{% endblock title %}
{% block content %}

<header class="masthead" style="background-image: url('{% static 'images/search.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Search Blog</h1>
          <span class="subheading">Search Results for contain  <em>"{{request.GET.query}}"</em> </span>
        </div>
      </div>
    </div>
  </div>
</header>

      

      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts %}

            <a href="{{post.get_absolute_url}}"><h2 class="post-title">
              {{ post.title }}
            </h2></a>
            <p class="post-subtitle">
              {{post.body|safe|truncatewords:30|linebreaks}}
            </p>

            

            {% empty %}

            
            <h2>No results for "{{request.GET.query}}"</h2>
            
            {% endfor %}
          </div>
        </div>
      </div>

{% endblock content %}
