{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
<title>Search {{request.GET.query}}</title>
{% endblock title %}
{% block content %}

      <h2>Search Results for contain  <em>"{{request.GET.query}}"</em> </h2>
      <hr>
      {% for post in posts %}

      <div class="card mb-4 posts">
        <div class="card-body">
          <a href="{{ post.get_absolute_url }}"><h2 style="text-transform:uppercase;margin-bottom:0" class="card-title" >{{post.title}}</h2></a>
          <hr style="margin:2px 0px;">
          <p style="margin-top:5px;" class="card-text">{{post.body|safe|truncatewords:30|linebreaks}}</p>
          <a  href="{{ post.get_absolute_url }}" class="btn btn-success btn-sm">Read More</a>
        </div>
      </div>
      {% empty %}

      <div class="p-3 mb-2 bg-danger text-white">
          <p>No results for "{{request.GET.query}}"</p>
      </div>

    {% endfor %}
{% endblock content %}
