{% load taggit_templatetags2_tags %}
{% get_taglist as tags for 'blog.Post' %}
{% load blog_tags %}
  <div class="card ">
    <h5 class="card-header"><i class="fa fa-search"></i> Search</h5>
    <div class="card-body">
      <form action="{% url 'blog:blog-search' %}"  method="GET">
        <div class="input-group">
          <input type="text" class="form-control" name='query' value="{{query}}" placeholder="Search for...">
          <span class="input-group-btn">
            <button  class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
          </span>
      </form>
      </div>
    </div>
  </div>

  <!-- Categories Widget -->
  <div class="card my-4">
    <h5 class="card-header"><i class="fa fa-tags"></i> Categories</h5>
    <div class="card-body">
      <div class="row">
        {% for tag in tags %}
          <ul class="list-unstyled  mb-0">
            <li style="margin-left:5px;">
              <a style="margin-bottom:5px;margin-right:5px;" href="{% url 'blog:tagged' tag.slug %}" type="button" class="btn btn-secondary btn-sm">
                  {{tag.name}} <span class="badge badge-light">{{tag.num_times}}</span>
              </a> <br>
            </li>
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Side Widget -->
{% show_latest_post 5 %}
