{% extends 'blog/base.html' %}
{% load static %}
{% load blog_tags %}
{% block title %}
<title>dinushka's blog Tag views</title>
{% endblock title %}
{% block content %}

<header class="masthead" style="background-image: url('{% static 'images/theme.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{request.path}}</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {% for post in posts %}

        <div class="post-preview">
          <img src="{{post.image.url}}" alt="" class="img-fluid">
          <a href="{{ post.get_absolute_url }}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{post.body|safe|truncatewords:30|linebreaks}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">piyumal</a>
            {{post.publish | date:"F d,Y"}}</p>
        </div>
        <hr>

        {% empty %}

      <p>There are no posts</p>

      {% endfor %}

      

    </div>
  </div>
</div>

{% endblock content %}
