* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: candara; */
  /* font-family: montserrat; */
  font-family: 'Assistant', sans-serif;
  font-size: 20px;
  background-color: #f2f2f2;
}


.jumbotron {
  margin-bottom: 0;
  background-color: #eeeeee;
  color: white;
  border-radius: 0;
  padding: 40px 20px;
  text-align: center;
}

.jumbotron h1 {
  font-size: 85px;
  font-weight: bold;
  font-family: 'Bangers', cursive;
  color: #222831;
}

.jumbotron p {
  font-size: 20px;
  color: #222831;
}

.featured-img {
  margin-bottom: 10px;
}

.navbar {
  background-color: #222831;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 50px;
  font-size: 20px;
}

.navbar .navbar-toggler{
  color: #f2f2f2;
}

.navbar .navbar-brand {
  color: #f3f2f2;
  font-weight: bolder;
  font-size: 26px;
}

.navbar .navbar-brand:hover {
  color: #00adb5;
  cursor: pointer;
}

.navbar ul li a {
  color: #f2f2f2;
  font-weight: 400;
}

.navbar input[type="search"] {
  border-radius: 0;
  border: 1px solid #222831;
  line-height: 40px;
  padding-left: 10px;
}

input:focus {
  outline: none;
}

.navbar form button {
  border-radius: 0;
  border: 1px solid #222831;
  background-color: #393e46;
  color: #ffffff;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.navbar button:facus {
  outline: none;
}

.navbar ul li a:hover {
  background: #393e46;
  color: #f2f2f2;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (max-width: 580px) {
  nav form button,
  input[type="search"] {
    width: 100%;
  }
  .jumbotron h1 {
    font-size: 50px;
  }
  .navbar ul li a {
    margin: 0;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 990px) {
  .navbar ul li a {
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    text-align: center;
  }
  nav form button,
  input[type="search"] {
    margin: auto;
  }
  nav form button {
    margin-left: 0;
  }
}


.btn {
  border-radius: 0;
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  outline: none;
}




.projects p{
  margin-top: 10px;
  font-family: 'Assistant',serif;"
  font-size: 18px;
}

.projects hr{
  margin-top: 0;
}


.main-page {
  margin-top: 40px;
}

.card p{
  font-family: 'Assistant',serif;
}

.card  a:hover{
  color:#f2f2f2;
}

.card .btn-link{
  border-radius: 5px;
}

.card-img-top {
  border-radius: 0;
}

.card .list-group-item{
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.tags .link-btn:hover{
  background: #393e46;
  color: #f2f2f2;
}

.posts .btn{
  padding: 5px 15px;
}

.tags .btn{
  border-radius: 5px;
  margin-top: 5px;
}



.posts{
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
}

.posts .more{
  float: right;
  margin-bottom: 20px;
}

.footer {
  left: 0;
  width: 100%;
  background-color: #222831;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.footer .social {
  padding-bottom: 20px;
  padding-top: 10px;
}

.footer p {
  padding-top: 20px;
  margin-bottom: 0;
  font-family: 'Assistant', sans-serif;
}

.footer .site-name h4{
  font-family: 'Assistant', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  padding-top: 20px;
  margin-bottom: 0;
  padding-bottom: 20px;
  color: grey;
}

.footer .fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

.footer a {
  margin-left: 5px;
}

.footer .fa:hover {
  opacity: 0.7;
}

.footer .fa-linkedin {
  background: #0e76a8;
  color: white;
}

/* Twitter */
.footer .fa-whatsapp {
  background: #075e54;
  color: white;
}

.footer .fa-instagram {
  background: #3f729b;
  color: white;
}


.footer .fa-github {
  background: #0e76a8;
  color: white;
}

.footer .fa-envelope {
  background: #d44638;
  color: white;
}

.footer .bottom-line {
  background: #393e46;
}
